/* xxx-enter: 进入（入场）前的CSS样式；
xxx-enter-active:进入动画直到完成时之前的CSS样式;
xxx-enter-done:进入完成时的CSS样式;
xxx-exit:退出（出场）前的CSS样式;
xxx-exit-active:退出动画知道完成时之前的的CSS样式。
xxx-exit-done:退出完成时的CSS样式。 */


.Sun-text-enter{
    opacity: 0;
}

.Sun-text-enter-active{
    opacity: 1;
    transition: opacity 2000ms;

}
.Sun-text-enter-done{
    opacity: 1;
}
.Sun-text-exit{
    opacity: 1;
}
.Sun-text-exit-active{
    opacity: 0;
    transition: opacity 2000ms;

}
.Sun-text-exit-done{
    opacity: 0;
}